/* @override http://localhost:3000/assets/ym_tags.css?body=1 */

a.tag, .tag-label {  
     -webkit-transition: .1s ease-in;
     -moz-transition: .1s ease-in;
     transition: .1s ease-in;
}
a.tag:hover, a.tag:hover .tag-label  {
  text-decoration: none;
}
.tag-title .tag-label {
  font-size: inherit;
}
.tag-list {
  margin-left: 0;
  list-style: none;
}
.tag-list li {
  list-style: none;
  float: left;
  clear: left;
  margin: 0 0 5px;
}
.tag-list-horizontal {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
}
.tag-list-horizontal li {
  float: left;
  clear: none;
  margin-right: 5px; 
}

a.tag .tag-label {
	padding: 3px 8px 4px;
	float: left;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}